npm-debug.log

*.mp4
*.ogv
*.webm
*.ogg
*.mp3
*.wav
*.zip
*.flv
*.jpg

node_modules/**/*
app/assets/img/**/*
app/app.nw
app/node_modules/**/*
app/assets/vendor/**/*
app/src/js/app/node/node_modules/**/*
.DS_Store