<div class="PlaylistItem">
	<img src="<%=thumbSrc%>">
	<div class="PlaylistItem-progress"></div>
	<div class="PlaylistItem-info">
		<div><%=name%></div>
		<div>type:<%=type%></div>
		<div>loops:<%=loops%></div>
	</div>
	<div id="controls-region"></div>
</div>