<div class="PlaylistItem">
	<img rv-src="model.thumbSrc">
	<div rv-width="model.progress" class="PlaylistItem-progress"></div>
	<div class="PlaylistItem-info">
		<div>{model.name}</div>
		<div>type:{model.type}</div>
		<div>loops:{model.loops}</div>
	</div>
	<div id="controls-region"></div>
</div>