<div class="SearchItemControls">
	<div class="VineControls-login">
		<input rv-value="model.vineEmail" class="SearchItem-input" id="vine-email" type="text">
		<input rv-value="model.vinePassword" class="SearchItem-input" id="vine-password" type="password">
		<div class="SearchItem-button js-login">
			<span>LOGIN</span>
		</div>
		<input rv-value="model.vineTag" class="SearchItem-input" id="vine-tag" type="text">
		<div class="SearchItem-button js-tag">
			<span>SEARCH</span>
		</div>
	</div>
</div>