/**
 * App
 */

.App {
	position: relative;
	width: 100%;
	height: 100%;
	max-width: var( --chrome-max-width);
	background-color: var(--color-grey-dark);
	margin: 0 auto;
	min-height: 100%;
	overflow: hidden;
}

.AppMaxModulesRegion{
	float: left;
	width: 30%;
}

.AppPlaylistRegion{
	float: left;
	width: 50%;
}