.Button{
	cursor: pointer;
	display: inline-block;
	height: 100%;
	padding-top: 0.05em;
	padding-bottom: 0.05em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: center;
}

.Button-playlist{
	background-color: rgb(192, 94, 56);
	color: #292828;
}