.Controls{
	position: relative;

	
}

.Controls-directory{
	position: relative;
	display: inline-block;
	width: 140px;

	div{
		font-size: 14px;
	}

	input[type="file"]{
		display: inline-block;
		font-size: 12px;
		padding: 0.1em;
	}
}

.dg.main{
	display: inline-block;
}
