.PlaylistCollection{
	
}

.Playlist-item{
	background-color: rgb(89,158,167);
	margin-bottom: 0.1em;
}

.Playlist-name{
	display: inline-block;
	background-color: rgb(125,89,167);
}

.Playlist-id{
	display: inline-block;
	background-color: rgb(89,167,120);
}